<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  	<property name="hibernate.current_session_context_class">thread</property>
        <property name="show_sql">
            false
        </property>
    <property name="connection.url">jdbc:mysql://46.8.27.144:3306/teameat</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123</property>
      <mapping class="kz.app.entity.InvoiceEntity"/>
      <mapping class="kz.app.entity.MeatCategoryEntity"/>
      <mapping class="kz.app.entity.MeatTypesEntity"/>
      <mapping class="kz.app.entity.ReceiverEntity"/>
      <mapping class="kz.app.entity.UserActionsEntity"/>
      <mapping class="kz.app.entity.UserGroupsEntity"/>
      <mapping class="kz.app.entity.UserSessionsEntity"/>
      <mapping class="kz.app.entity.UsersEntity"/>
      <mapping class="kz.app.entity.MeatPartEntity"/>
      <mapping class="kz.app.entity.MeatPartPurchaseEntity"/>
      <mapping class="kz.app.entity.PurchaseEntity"/>
      <mapping class="kz.app.entity.CalculationEntity"/>
      <mapping class="kz.app.entity.SupplierEntity"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>