<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  	<property name="hibernate.current_session_context_class">thread</property>
    <property name="connection.url">jdbc:mysql://46.8.27.144:3306/teameat</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123</property>
      <mapping class="kz.app.entity.Invoice"/>
      <mapping class="kz.app.entity.MeatCategory"/>
      <mapping class="kz.app.entity.MeatTypes"/>
      <mapping class="kz.app.entity.Receiver"/>
      <mapping class="kz.app.entity.UserActions"/>
      <mapping class="kz.app.entity.UserGroups"/>
      <mapping class="kz.app.entity.UserSessions"/>
      <mapping class="kz.app.entity.Users"/>
      <mapping class="kz.app.entity.MeatPart"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>